* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes animation {
  to {
    transform: scale(1.2) translateX(5%);
  }
}

.main {
  height: 100vh;
  width: 100vw;
}

.content-container {
  position: relative;

  height: calc(100% - 203px);
}

.content-container::before {
  width: 100%;
  height: 100%;

  content: '';

  position: absolute;
  left: 0;
  top: 0;

  background: url('../images/lines.svg') no-repeat;
  background-size: cover;

  animation: animation ease 1.5s infinite alternate;

  z-index: -1;
}

.content-container:hover::before {
  animation-play-state: paused;
}

.wrapper {
  height: 100%;
  width: 100%;

  background: url('../images/mark.svg') no-repeat;
  background-size: cover;

  padding: 0 9.06vw;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 33.4vw;
  height: 27.04vw;

  background: url('../images/logo.svg') no-repeat;
  background-size: contain;

  transition: all 250ms ease-in-out;
}

.logo:hover {
  filter: invert(1);
}

@keyframes scrollAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.infinite-line {
  background: #000;

  width: 100%;

  position: relative;
  display: flex;
  align-items: center;
  gap: 2.2vw;
  user-select: none;
  overflow: hidden;

  /* height: 129px; */
  padding: 2.35vw 0 0;
}

.infinite-line p {
  leading-trim: both;
  text-edge: cap;
  font-family: 'Bebas Neue';
  font-size: 8.28vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.infinite-line .items-container {
  display: flex;
  gap: 2.2vw;
  flex-shrink: 0;
  min-width: 100%;
  animation: scrollAnimation 20s linear infinite;
  animation-direction: reverse;
}

.infinite-line:hover .items-container {
  animation-play-state: paused;
}

.star {
  margin-top: 0.4vw;
  width: 5.6vw;
  height: 9.5vh;
}
/* .busini {
  margin-top: 1052px;
} */
/* .sprite-container {
  height: 295px;
  display: flex;
  align-items: center;
}
.sprite-image {
  height: 290px;
  width: 508px;
  background: url(../images/нить.svg) 0px 0px;
  animation: play 2s steps(33) infinite;
  position: absolute;
  left: 0;
}
@keyframes play {
  100% {
    background-position-x: -16764px;
  }
} */

.second {
  display: flex;
}

.mayak {
  height: 100vh;
  width: 100vw;
}

.mayak-container {
  position: relative;

  width: 58vw;
  height: 100vh;

  background: url('../images/маяк.svg') no-repeat;
  background-size: cover;

  overflow: hidden;
}

@keyframes waveAnimation {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: -1386.05vw;
  }
}

.wave {
  height: 54.68vh;
  width: 125%;
  /* background-size: cover; */
  background: url(../images/волна.png) repeat-x;
  position: absolute;
  bottom: -20.28vw;
  left: -1.3vw;

  animation: waveAnimation 100s linear infinite;
}

.wave-2 {
  bottom: -21.9vw;
  animation-duration: 30s;

  filter: brightness(110%);
}
.mayak-sloi {
  position: absolute;
  left: 10%;
  right: 0;
  margin: 0 auto;
  bottom: 0;

  width: 16.97vw;
  height: calc(100% - 4.27vw);
  background: url('../images/маяк2.png') no-repeat;
  background-size: contain;
}
.star-mayak {
  position: absolute;
  width: 13.86vw;
  height: 13.86vw;
  left: 4.46vw;
  top: 7.25vw;
  background: url('../images/star.svg') no-repeat;
  background-size: contain;
  animation: blink 3s infinite;
}
.star-mayak-2 {
  left: unset;
  right: 3.46vw;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
