* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes animation {
  to {
    transform: scale(1.2) translateX(5%);
  }
}

.main {
  height: 100vh;
  width: 100vw;
}

.content-container {
  position: relative;

  height: calc(100% - 129px);
}

.content-container::before {
  width: 100%;
  height: 100%;

  content: '';

  position: absolute;
  left: 0;
  top: 0;

  background: url('../images/lines.svg') no-repeat;
  background-size: cover;

  animation: animation ease 1.5s infinite alternate;

  z-index: -1;
}

.content-container:hover::before {
  animation-play-state: paused;
}

.wrapper {
  height: 100%;
  width: 100%;

  background: url('../images/mark.svg') no-repeat;
  background-size: cover;

  padding: 0 9.06vw;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 33.4vw;
  height: 27.04vw;

  background: url('../images/logo.svg') no-repeat;
  background-size: contain;

  transition: all 250ms ease-in-out;
}

.logo:hover {
  filter: invert(1);
}

@keyframes scrollAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.infinite-line {
  background: #000;

  width: 100%;

  position: relative;
  display: flex;
  align-items: center;
  gap: 27px;
  user-select: none;
  overflow: hidden;

  /* height: 129px; */
  padding: 29px 0 0;
}

.infinite-line p {
  leading-trim: both;
  text-edge: cap;
  font-family: 'Bebas Neue';
  font-size: 102px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.infinite-line .items-container {
  display: flex;
  gap: 27px;
  flex-shrink: 0;
  min-width: 100%;
  animation: scrollAnimation 20s linear infinite;
  animation-direction: reverse;
}

.infinite-line:hover .items-container {
  animation-play-state: paused;
}

.star {
  margin-top: 5px;
  width: 69px;
  height: 69px;
}
