* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  cursor: url('../images/cursor.svg'), auto;
}

.main {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

.content-container {
  position: relative;

  height: calc(100% - 9.27vw);
}

.content-container::before {
  width: 100%;
  height: 100%;

  content: '';

  position: absolute;
  left: 0;
  top: 0;

  background: url('../images/lines.svg') no-repeat;
  background-size: cover;

  animation: animation ease 1.5s infinite alternate;

  z-index: -1;
}

.content-container:hover::before {
  animation-play-state: paused;
}

.wrapper {
  height: 100%;
  width: 100%;

  background: url('../images/mark.svg') no-repeat;
  background-size: cover;

  padding: 0 9.06vw;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 33.4vw;
  height: 27.04vw;

  background: url('../images/logo.svg') no-repeat;
  background-size: contain;

  transition: all 250ms ease-in-out;
}

.logo:hover {
  filter: invert(1);
}

.infinite-line {
  background: #000;

  width: 100%;

  position: relative;
  display: flex;
  align-items: center;
  gap: 2.2vw;
  user-select: none;
  overflow: hidden;

  /* height: 129px; */
  padding: 1.35vw 0 0;
}

.infinite-line p {
  leading-trim: both;
  text-edge: cap;
  font-family: 'Bebas Neue';
  font-size: 8.28vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.infinite-line .items-container {
  display: flex;
  gap: 2.2vw;
  flex-shrink: 0;
  min-width: 100%;
  animation: scrollAnimation 20s linear infinite;
  animation-direction: reverse;
}

.infinite-line:hover .items-container {
  animation-play-state: paused;
}

.star {
  margin-top: 0.4vw;
  width: 5.6vw;
  height: 9.5vh;
}
.second {
  display: flex;
  overflow: hidden;
}

.mayak {
  height: 100vh;
  width: 100vw;
}

.mayak-container {
  position: relative;

  width: 58vw;
  height: 100vh;

  background: url('../images/маяк.svg') no-repeat;
  background-size: cover;

  overflow: hidden;
}

.wave {
  height: 54.68vh;
  width: 125%;
  /* background-size: cover; */
  background: url(../images/волна.png) repeat-x;
  position: absolute;
  bottom: -20.28vw;
  left: -1.3vw;

  animation: waveAnimation 100s linear infinite;
}

.wave-2 {
  bottom: -21.9vw;
  animation-duration: 30s;

  filter: brightness(110%);
}
.mayak-sloi {
  position: absolute;
  left: 10%;
  right: 0;
  margin: 0 auto;
  bottom: 0;

  width: 16.97vw;
  height: calc(100% - 4.27vw);
  background: url('../images/маяк2.png') no-repeat;
  background-size: contain;
}
.star-mayak {
  position: absolute;
  width: 13.86vw;
  height: 13.86vw;
  left: 4.46vw;
  top: 7.25vw;
  mask: url('../images/star.svg') no-repeat;
  mask-size: contain;
  -webkit-mask: url('../images/star.svg') no-repeat;
  -webkit-mask-size: contain;
  background: #fff;
  animation: blink 3s infinite;
}
.star-mayak-2 {
  left: unset;
  right: 3.46vw;
}

.sun-section {
  height: 50vh;
  width: 100vw;
}
.sun-container {
  position: relative;
  height: 50vh;
  width: 42vw;
  background: #fff;

  overflow: hidden;
}
.sun {
  position: absolute;
  top: -60%;
  left: -21%;

  height: 60vw;
  width: 60vw;
  background: url('../images/солнце.svg') no-repeat;
  background-size: contain;
  overflow: hidden;
  animation: spin 5s linear infinite;
}

.text {
  height: 50vh;
  width: 42vw;
  background-color: #000;
}
.second-section-text {
  font-family: 'Bebas Neue', serif;
  color: #fff;
  font-size: 6vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 2.39vw;
  padding-top: 1.61vw;
}

.third-section {
  overflow: hidden;

  display: grid;
  grid-template-columns: 6.71vw 1fr;
}

.third-section .visual-content-container {
  max-width: 100%;
  overflow: hidden;
  height: 100%;
}

.infinite-line-3 {
  background: #000;

  width: 100%;

  position: relative;
  display: flex;
  gap: 1.14vw;
  user-select: none;
  overflow: hidden;
}

.infinite-line-3 p {
  leading-trim: both;
  text-edge: cap;
  font-family: 'Bebas Neue';
  font-size: 7.19vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.infinite-line-3 img {
  width: 69px;
  height: 69px;

  margin-top: 20px;
}

.infinite-line-3 .items-container-3 {
  display: flex;
  gap: 1.14vw;
  flex-shrink: 0;
  min-width: 100%;
  width: 100vh;
  animation: verticalScrollAnimation 20s linear infinite;
  animation-direction: reverse;
  transform: rotate(90deg);

  margin-left: 80px;
}

.infinite-line:hover .items-container-3 {
  animation-play-state: paused;
}

.infinite-line .star {
  margin-top: 1.25vw;
  width: 5.6vw;
  height: 9.5vh;

  background: url('../images/star.svg') no-repeat;
  background-size: contain;
}
.pixel-line {
  display: flex;
}
.pixel-1,
.pixel-2,
.pixel-3 {
  height: 7.38vw;
  width: 7.38vw;
}
.pixel-1 {
  background-color: white;
}
.pixel-2 {
  background-color: black;
}
.pixel-3 {
  background-color: #f5da24;
}

.figures-text-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  height: 100%;
}

.abstract-box {
  background-color: #f5da24;
  height: 100%;

  position: relative;
  overflow: hidden;
}

.pixel-1 {
  animation: change-color-1 2s ease-in-out infinite alternate;
}

.pixel-2 {
  animation: change-color-2 2s ease-in-out infinite alternate;
}

.pixel-3 {
  animation: change-color-3 2s ease-in-out infinite alternate;
}

.text-container {
  background: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.04vw;

  padding: 5.52vw 2.08vw;
  width: 100%;
}

.text-container .text-wrapper {
  padding: 1.04vw 0;
  font-family: 'Bebas Neue';
  width: 100%;
  font-size: 2.7vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;

  background: #fff;
  border-radius: 47px;

  transition: all 250ms ease-in-out;
}

.mark-ellipse,
.mark-square,
.mark-star,
.mark-triangle {
  position: relative;
}

.mark-ellipse::before,
.mark-square::before,
.mark-star::before,
.mark-triangle::before {
  opacity: 0;
  transition: all 150ms ease-in-out;
}

.mark-square::before {
  position: absolute;

  content: '';

  width: 100%;
  height: 80%;

  left: 0;
  top: 0;

  background: #f5da24;
}

.mark-ellipse::before {
  position: absolute;

  content: '';

  width: 115%;
  height: 115%;

  left: -1px;
  top: 0;

  background: url('../images/replacements/ellipse.svg') no-repeat;
  background-size: contain;
}

.mark-triangle::before {
  position: absolute;

  content: '';

  width: 120%;
  height: 120%;

  left: -5px;
  top: -10px;

  background: url('../images/replacements/triangle.svg') no-repeat;
  background-size: contain;
}

.mark-star::before {
  position: absolute;

  content: '';

  width: 45px;
  height: 45px;

  left: -5px;
  right: 0;
  top: 0;

  background: url('../images/replacements/mark-star.svg') no-repeat;
  background-size: contain;
}

.mark-ellipse::before {
  animation: fadeIn 1s ease-in-out infinite alternate;
  animation-delay: 0.7s;
  animation-play-state: paused;
}

.mark-triangle::before {
  animation: fadeIn 1.25s ease-in-out infinite alternate;
  animation-delay: 0.35s;
  animation-play-state: paused;
}

.mark-star::before {
  animation: fadeIn 2.5s ease-in-out infinite alternate;
  animation-delay: 0.1s;
  animation-play-state: paused;
}

.mark-square::before {
  animation: fadeIn 1.75s ease-in-out infinite alternate;
  animation-play-state: paused;
}

.text:hover .second-section-text *::before {
  animation-play-state: running;
}

.white-shape {
  width: 31.19vw;
  height: 31.19vw;

  background: url('../images/section-3/white-shape.svg') no-repeat;
  background-size: contain;

  position: absolute;
  top: -5.31vw;
  left: -2.76vw;
}

.triangle {
  width: 45.36vw;
  height: 47.03vw;

  background: url('../images/section-3/triangle.svg') no-repeat;
  background-size: contain;

  position: absolute;
  bottom: -13.8vw;
  right: -11.97vw;
}

.yellow-star {
  width: 49.16vw;
  height: 49.16vw;

  background: url('../images/section-3/yellow-star.svg') no-repeat;
  background-size: contain;

  position: absolute;
  bottom: -15.05vw;
  left: -19.06vw;
}

.polygon {
  width: 42.13vw;
  height: 42.13vw;

  background: url('../images/section-3/polygon.svg') no-repeat;
  background-size: contain;

  position: absolute;
  top: -11.87vw;
  right: -10.41vw;
}

.black-shape {
  width: 55.26vw;
  height: 55.26vw;

  background: #000;
  border-radius: 100%;

  position: absolute;
  bottom: -7.86vw;
  left: -9.21vw;
}

.black-shape {
  animation: float-2 3s ease-in-out infinite;
}

.yellow-star {
  animation: float-3 3s ease-in-out infinite;
}

.triangle {
  animation: float-4 3s ease-in-out infinite;
}

.polygon {
  animation: float-5 3s ease-in-out infinite;
}

.white-shape {
  animation: float-1 3s ease-in-out infinite alternate;
}
.section-4 {
  width: 100%;
  height: 84.43vh;

  display: grid;
  grid-template-columns: 0.85fr 1fr;
}

.section-4 .chess {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  background: #000;
}

.section-4 .chess .chess-row {
  background: #000;

  position: relative;
}

.section-4 .chess .chess-row span {
  padding-top: 0.81vw;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  opacity: 0;
}

.section-4 .chess .chess-row.yellow {
  background: #f5da24;
  color: #000;
}

.section-4 .chess .chess-row.black {
  background: #000;
  color: #fff;
}

.section-4 .chess .chess-row.white {
  background: #fff;
  color: #000;
}

.section-4 .chess .chess-row:nth-child(2) span:nth-child(1) {
  animation: opacity-1 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(5) span:nth-child(2) {
  animation: opacity-1 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(10) span:nth-child(3) {
  animation: opacity-1 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(13) span:nth-child(4) {
  animation: opacity-1 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(2) span:nth-child(1) {
  animation: opacity-2 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(4) span:nth-child(2) {
  animation: opacity-2 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(7) span:nth-child(3) {
  animation: opacity-2 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(10) span:nth-child(4) {
  animation: opacity-2 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(2) span:nth-child(1) {
  animation: opacity-3 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(5) span:nth-child(2) {
  animation: opacity-3 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(7) span:nth-child(3) {
  animation: opacity-3 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(10) span:nth-child(4) {
  animation: opacity-3 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(3) span:nth-child(1) {
  animation: opacity-4 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(6) span:nth-child(2) {
  animation: opacity-4 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(11) span:nth-child(3) {
  animation: opacity-4 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(14) span:nth-child(4) {
  animation: opacity-4 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(3) span:nth-child(1) {
  animation: opacity-5 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(8) span:nth-child(2) {
  animation: opacity-5 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(9) span:nth-child(3) {
  animation: opacity-5 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(14) span:nth-child(4) {
  animation: opacity-5 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(5) span:nth-child(1) {
  animation: opacity-6 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(8) span:nth-child(2) {
  animation: opacity-6 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(12) span:nth-child(3) {
  animation: opacity-6 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(14) span:nth-child(4) {
  animation: opacity-6 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(6) span:nth-child(1) {
  animation: opacity-7 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(9) span:nth-child(2) {
  animation: opacity-7 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(11) span:nth-child(3) {
  animation: opacity-7 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(16) span:nth-child(4) {
  animation: opacity-7 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(1) span:nth-child(1) {
  animation: opacity-8 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(9) span:nth-child(2) {
  animation: opacity-8 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(11) span:nth-child(3) {
  animation: opacity-8 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(16) span:nth-child(4) {
  animation: opacity-8 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(1) span:nth-child(1) {
  animation: opacity-8 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(9) span:nth-child(2) {
  animation: opacity-8 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(11) span:nth-child(3) {
  animation: opacity-8 5s linear infinite;
}
.section-4 .chess .chess-row:nth-child(16) span:nth-child(4) {
  animation: opacity-8 5s linear infinite;
}

.chess-row {
  padding-top: 0.81vw;
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 11.05vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-4 .chess .chess-row:nth-child(1) {
  animation: color-1 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(2) {
  animation: color-2 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(3) {
  animation: color-3 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(4) {
  animation: color-4 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(5) {
  animation: color-5 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(6) {
  animation: color-6 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(7) {
  animation: color-7 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(8) {
  animation: color-8 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(9) {
  animation: color-9 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(10) {
  animation: color-10 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(11) {
  animation: color-11 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(12) {
  animation: color-12 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(13) {
  animation: color-13 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(14) {
  animation: color-14 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(15) {
  animation: color-15 5s linear infinite;
}

.section-4 .chess .chess-row:nth-child(16) {
  animation: color-16 5s linear infinite;
}

.section-4 .man-container {
  background: #000;
  overflow: hidden;
}

.section-4 .man-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  animation: scaledScaleUp 1.5s ease-in-out infinite alternate;
}

.section-5 {
  height: 100vh;

  display: grid;
  grid-template-columns: 111px 1fr;
}

.section-5 .lines {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.section-5 .lines .line:nth-child(1n) {
  background: #f5da24;
}

.section-5 .lines .line:nth-child(2n) {
  background: #000;
}

.section-5 .content {
  overflow: hidden;

  background: #000;
}

.section-6 {
  height: 37.7vh;

  display: grid;
  grid-template-columns: 37.5% 25% 37.5%;
}

.sprite-container {
  display: flex;
  align-items: center;

  overflow: hidden;
  position: relative;
  height: 100%;
}

.section-6 .flickering-block {
  width: 100%;
  height: 100%;

  background: #000;

  animation: flick 750ms infinite;
}

.section-5 .content .memories-image {
  width: 100%;
  height: 100%;

  background: url('../images/section-5/memories.svg'), #000;
  background-size: contain;

  animation: scaleUp 1.2s ease-in-out infinite alternate;
}

.section-6 .stars-container {
  background: #f5da24;

  position: relative;
  overflow: hidden;
}

.section-6 .stars-container .star {
  position: absolute;

  --rotate: 0;

  background: url('../images/section-6/star.svg') no-repeat;
  background-size: contain;

  transform: rotate(var(--rotate));
}

.section-6 .stars-container .star.small {
  width: 4.84vw;
  height: 4.84vw;
  --translateX: -100px;
  animation: fall 1.84s linear infinite;
}

.section-6 .stars-container .star.semi-medium {
  width: 7.13vw;
  height: 7.13vw;
  --translateX: 50px;
  animation: fall 3s linear infinite;
}

.section-6 .stars-container .star.medium {
  width: 7.6vw;
  height: 7.6vw;
  --translateX: -200px;
  animation: fall 3.5s linear infinite;
}

.section-6 .stars-container .star.big {
  width: 10.62vw;
  height: 10.62vw;
  --translateX: -100px;
  animation: fall 2.5s linear infinite;
}

.busini {
  margin-top: 1052px;
}

.sprite-image {
  height: 100%;
  width: 100%;
  background: url(../images/нить.svg) 0px 0px;
  animation: play 2s steps(33) infinite;
}

.section-7 {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}
.infinite-line-7 {
  background: #000;

  width: 100%;

  position: relative;
  display: flex;
  align-items: center;
  gap: 2.2vw;
  user-select: none;
  overflow: hidden;

  /* height: 129px; */
  padding: 1.35vw 0 0;
}

.infinite-line-7 p {
  leading-trim: both;
  text-edge: cap;
  font-family: 'Bebas Neue';
  font-size: 8.28vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.infinite-line-7 .items-container-7 {
  display: flex;
  gap: 2.2vw;
  flex-shrink: 0;
  min-width: 100%;
  animation: scrollAnimation 20s linear infinite;
  animation-direction: reverse;
}

.infinite-line:hover .items-container-7 {
  animation-play-state: paused;
}

.star-7 {
  background: url(../images/star-infinite-line.svg);
  margin-top: 0.4vw;
  width: 5.6vw;
  height: 9.5vh;
}

.text-container .text-wrapper:hover {
  transform: scale(1.1);
  background: #f5da24;
}
